<div class="modal fade" id="modal-DeletarU" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="margin: 0px">Deletar Usuário </h3>
            </div>
            <div class="box-body" >
                <field id="tag" label="Tag" grid="12 12 12 12" placeholder="informe a tag do usuário" model="user.tag" disabled="true"></field>
                <field id="nome" label="Nome" grid="12 12 12 12" placeholder="informe o nome do usuário" model="user.nome" disabled="true"> </field>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <label>Função Institucional</label>
                        <select id="funcao" class="form-control" ng-model="user.funcao" disabled="true">
                          <option>PROFESSOR</option>
                          <option>ALUNO</option>
                          <option>ADMINISTRATIVO</option>
                          <option>TECNICO</option>
                          <option>OUTRA</option>
                        </select>
                </div>
                <div class="checkbox col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label>
                      <input id="tipo" type="checkbox" ng-model="userTipo" disabled="true"> Administrador
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="desabilitar()">Excluir</button>
                <button class="btn  btn-danger" ng-click="fecharModalDeletarU()">Sair</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
