<section class="sidebar">
  <ul class="sidebar-menu">

    <li class="treeview">
      <a href>
        <i class="glyphicon glyphicon-user"></i> <span> Usuários</span>
        <i class="fa fa-angle-left pull-right"> </i>
      </a>

      <ul class="treeview-menu">
        <li>
          <a ui-sref="cadastrarU"> <i class="glyphicon glyphicon-plus"> </i> Cadastrar </a>
        </li>

        <li>
          <a ui-sref="buscarU"> <i class="glyphicon glyphicon-search"> </i> Listar </a>
        </li>
      </ul>
    </li>


    <li class="treeview">

      <a href>
        <i class="glyphicon glyphicon-calendar"></i> <span> Reservas </span>
        <i class="fa fa-angle-left pull-right"> </i>
      </a>

      <ul class="treeview-menu">

        <li>
          <a ui-sref="indexRes"> <i class="glyphicon glyphicon-search"> </i> Listar Reservas </a>
        </li>

        <li>
          <a ui-sref="cadastrarR"> <i class="glyphicon glyphicon-plus"> </i> Cadastrar </a>
        </li>

        <li>
          <a ui-sref="buscarR"> <i class="glyphicon glyphicon-trash"> </i> Excluir Reserva</a>
        </li>

      </ul>

    </li>


    <li class="treeview">
      <a href>
          <i class="fa fa-university"></i> <span> Laboratórios </span>
          <i class="fa fa-angle-left pull-right"> </i>
      </a>

      <ul class="treeview-menu">
        <li>
          <a ui-sref="cadastrarL"> <i class="glyphicon glyphicon-plus"> </i> Cadastrar </a>
        </li>

        <li>
          <a ui-sref="buscarL"> <i class="glyphicon glyphicon-search"> </i> Listar </a>
        </li>

      </ul>

    </li>


    <li>
      <a ui-sref="buscarA">
        <i class="glyphicon glyphicon-list-alt"></i> <span> Listar Acessos </span>
      </a>

    </li>

  </ul>
</section>
